.footer {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 600px) {
    max-width: none;
  }

  .desc {
    font-size: 0.8rem;
  }
  .policy {
    font-size: 0.8rem;
  }
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;

    a {
      text-decoration: underline;
    }
  }
}
