.container {
  padding: 0 2rem;
  background-image: linear-gradient(180deg, #5d6366 0, #415460 25%, #1f4459 50%, #003553 75%, #00264d 100%);
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  font-family: 'Zen Kaku Gothic New', sans-serif;

  @media screen and (max-width: 600px) {
    width: fit-content;
    padding: 0 1.5rem;
  }
}

.header {
  height: 120px;
  display: flex;
  padding: 16px;

  .headerImage {
    height: 100%;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  max-width: 1400px;
  margin: 0 auto;
}

.topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
  animation-name: blurTop;
	animation-duration: 1.2s;
	animation-fill-mode: forwards;

  @keyframes blurTop{
    from {
    filter: blur(10px);
    transform: scale(1.02);
    }

    to {
    filter: blur(0);
    transform: scale(1);
    }
  }

  h1 {
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 0.12em;
    margin: 0;

    @media screen and (max-width: 600px) {
      font-size: 1.4rem;
    }
  }

  h2 {
    font-weight: 100;
    font-size: 0.65rem;
    margin: 0;
  }
}

.musicContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: calc((100% - 780px) / 2);
  margin: 8px;
  background: #2c2c2c87;
  animation: fadeIn 1s ease 0.5s 1 normal backwards;

  @media screen and (max-width: 600px) {
    width: 100%;
  }

  .releaseDate {
    width: 100%;
    justify-content: left;
    color: #888888;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.12em;
    padding-left: 0.6rem;

    @media screen and (max-width: 600px) {
      font-size: 1rem;
    }

    span {
      font-size: 0.6rem;
      font-weight: 600;

      @media screen and (max-width: 600px) {
        font-size: 1.6rem;
      }
    }
  }

  .musicTitle {
    font-size: 0.7rem;
    font-weight: 400;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    min-height: 40px;
  }

  .imageAndLinkContainer {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: stretch;
  }

  .imageContainer {
    width: 100%;
    height: 240px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .jacketImage {
    min-height: 240px;
    width: auto;
    height: 240px;
    vertical-align: top;
    z-index: 10;
  }

  .backImageContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .backImage {
    filter: blur(10px);
  }

  .linksAndCharacterContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .links {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 0 12px 0;
    gap: 28px;

    .button a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      margin: 0 auto;
      padding: 0.8em 1.8em;
      width: 100px;
      color: #333;
      font-size: 12px;
      font-weight: 500;
      background-color: #ccc;
      border-radius: 50vh;
      transition: 0.3s;

      .buttonText {
        padding-bottom: 0.2rem;
      }
    }

    .button a::after {
      content: '';
      width: 5px;
      height: 5px;
      border-top: 2px solid #333333;
      border-right: 2px solid #333333;
      transform: rotate(45deg);
      transition: 0.3s;
    }

    .button a:hover::before {
      top: 0;
      left: 0;
    }

    .button a:hover {
      text-decoration: none;
      background-color: #333;
      color: #ccc;
      box-shadow: 0px 0px 0px 1px #ccc;
    }

    .button a:hover::after {
      border-top: 2px solid #ccc;
      border-right: 2px solid #ccc;
    }
  }

  .areas {
    display: flex;
    font-size: 0.7rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #000000;

    @media screen and (max-width: 600px) {
      font-size: 1rem;
    }

    .area {
      padding: 4px;
    }
  }

  .characters {
    display: flex;
    font-size: 0.6rem;
    font-weight: normal;
    padding-bottom: 12px;
    gap: 4px;

    @media screen and (max-width: 600px) {
      font-size: 1rem;
    }

    .character {
      padding: 6px;
      border-radius: 8px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 600px) {
    max-width: none;
  }

  .desc {
    font-size: 0.8rem;
  }
  .policy {
    font-size: 0.8rem;
  }
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;

    a {
      text-decoration: underline;
    }
  }
}

.blur{
	animation-name: blurAnime;
	animation-duration: 0.7s;
	animation-fill-mode: forwards;
}

@keyframes blurAnime{
  from {
	filter: blur(10px);
	transform: scale(1.02);
  }

  to {
	filter: blur(0);
	transform: scale(1);
  }
}
